<h2>Welcome to Pizza Shop!</h2>
<button type="button" onclick="something()" class="btn btn-primary btn-lg">Click me!</button>
<div class="container-fluid">
	<div class="row show-grid">
		<% @pizza.each do |item_of_pizza|%>
		
    		<div class="col-md-4">

    			<div>
    				<%= item_of_pizza.title %>
    			</div>
    			<div>
    				<img class="img-thumbnail" src="<%= item_of_pizza.path_to_image %>" style="width: 250px; height: 250px;" data-holder-rendered="true" data-src="holder.js/140x140" alt="140x140">
    			</div>
    			<div>
    				Цена: <%= item_of_pizza.price %>
    			</div>
    			<div>
    				<button type="button" class="btn btn-success btn-sm" onclick="add_to_cart(<%= item_of_pizza.id %>)"> Add to cart! </button>
    			</div>
			</div>
    
		<% end %>
	</div>
</div>
<script type="text/javascript">
    $(function () {
        update_orders();
        update_orders_button();
    });
</script>